@font-face {
    font-family: "Nunito Sans";
    src: url("../font/AnyConv.com__NunitoSans-Regular.woff");    
}
*{
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
#check1 {
    display: none;
}
.checkbtn1 {
    display: none;
}
.container {
    max-width: 1320px;
    margin: 0 auto;
   
}
.flex{
    display: flex;
    align-items: center;
}

.d-f{
    display: flex;
    align-items: center;
}
.flex-1{
    display: flex;
}
.d-flex{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}
.d-flex-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.main-nav{
    width: 100%;
    position: fixed;
    top: 0%;
    left: 0;
    background: white;
    z-index: 99;
}
.alink{
    color: #FF0000;
}
.link{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-decoration: none;
    color: #000000;
    
}
.link-1{
    text-decoration: underline;
    color: #FF0000;
}
.nav{
    width: 100%;
}
.col-1{
    display: flex;
    position: relative;
    justify-content: end;
    width: 50%;
}
.col-1-1 {
    padding: 15px 13px;
}
.col-2{
    width: calc(100%/2);
    
}
nav ol {
    float: right;
    display: flex;
    align-items: stretch;
}
nav ol li {
    display: inline-block;
    margin: 0 35px;
    display: flex;
    align-items: stretch;
}

::placeholder{
    position: absolute; 
    left: 19px;
    top: 7px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #9B9B9B;
}
.icon{
    position: absolute; 
    transform: translate(-50%,-50%);
    color: #9B9B9B;
    top: 18px;
}
.w-50{
    width: 50%;
}
.header-banner{
    background: #EAEAEA;
    margin-top: 88px;
}
.content{
    max-width: 1109px;
    width: auto;
    padding: 65px;
}
.content h2{
font-family: 'Arial';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 40px;
text-align: center;
color: #FF0000;
text-align: left;

}
.content p{
font-family: 'Arial';
font-style: normal;
font-size: 20px;
line-height: 40px;
color: #414141;
}
.img-head{
    height: 100%;
    width: auto;
    margin-left: 47px;
}
.img-banner{
    width: 480px;
    height: 280px;
    object-fit: cover;
    overflow: hidden;
}
.col-3{
    width: calc(100%/3);
}
.main-heading-2{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: #FF0000;
}
.inner-list{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FF0000;
    margin-top: 57px;
}
.inner-list-1{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 30px;
    color: #414141;
    padding: 20px;
   
}
.card-in-1{
    background: #FFFFFF;
    border: 1px solid #FF0000;
    box-shadow: 0px 4px 20px rgba(175, 175, 175, 0.1);
    border-radius: 20px;
    width: 420px;
    height: 313px;
}
.card-in-2{
    background: #FFFFFF;
    border: 1px solid #3092F9;
    box-shadow: 0px 4px 20px rgba(175, 175, 175, 0.1);
    border-radius: 20px;
    width: 420px;
    height: 313px;
}
.card-in-3{
    background: #FFFFFF;
    border: 1px solid #FBA333;
    box-shadow: 0px 4px 20px rgba(175, 175, 175, 0.1);
    border-radius: 20px;
    width: 420px;
    height: 313px;
}

.new{   
    margin-top: -49px;
}

.cover-r{
  background: #EAEAEA;
}

#text-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.card-text{
    max-height: 100%;
    padding: 15px;
    width: 735px;
    height: 354px;
    background: #EAEAEA;

}
.card-text-1{
    max-height: 100%;
    background: #EAEAEA;

}
.inside-heading-card{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 30px;
    color: #3092F9;
    padding: 25px;
}
.inside-para-card{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    padding: 18px;
}
.img-text{
    max-width: 1320px;
    margin: 0 auto;
    
}

.w-50{
    width: 50%;
}
.header-banner{
   
    margin-top: 96px;
}
.text-email{
    width: 675px;
    padding: 12px;
    border: 1px solid #CFCFCF;
    border-radius: 1px;
    margin: 10px;
}
.heading{
font-family: 'Arial';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 40px;
text-align: center;
color: #FF0000;
text-align: center;
}
.para{
    font-family: 'Arial';
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    color: #414141;
    font-weight: 700;
    text-align: center;
}
table{
    width: 600px;
    height: auto;
    border-collapse: collapse;
    margin-top: 32px;
}
th{
    background: #3092F9;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
    color: #FFFFFF;
    padding: 8px;
}
tr{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;

    color: #414141;
    text-align: center;
    box-shadow: 0px 4px 15px rgba(44, 44, 44, 0.1);
}
td{
    padding: 10px;
}
.middle-sec{
    margin-top: 70px;
}
.background-video{
    margin-top: 88px;
}
.background{
    background-image: url("../assets/images/img-1-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    opacity: 0.5;
}
video{
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;

}
.form-grp-1,.form-grp-2{
    display:inline-block;
    text-align: left;
    margin-left: 10px;
    padding: 10px;
}
.form-grp-1-1{
    display: inline-block;
    text-align: left;
    margin-right: 270px;
    padding: 10px;
}

.form-grp-1-1-1{
    display: inline-block;
    text-align: left;
    margin-right: 441px;
    padding: 10px;
}

.form-grp-1-1-1-1{
    display: inline-block;
    text-align: left;
    margin-right: 390px;
    padding: 10px;
}
.frm-main{
    margin-top: 90px;background: #F3F3F3;padding-top: 40px;padding-bottom: 30px;border-radius: 5%;
}
.inside-form{
   text-align:left;
   margin-left: 15px;
   padding: 10px;
}
.label-form{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #414141;
    margin-left: 15px;
}
.text{
    width: 315px;
    padding: 12px;
    border: 1px solid #CFCFCF;
    border-radius: 1px;
    margin: 10px;
}
.btn-sub{
    font-family:'Arial';font-size:18px;width: 129px;height: 52px;background:#000000;color:white;font-weight:700;margin-right: 10px;margin-top: 20px;
}      
.btn-reset{
    font-family:'Arial';font-size:18px;width: 129px;height: 52px;background:white;color:#000000;font-weight:700;
}
input[type=submit],input[type=reset]{
    cursor: pointer;
    border: 1px solid #CFCFCF;
}
input[type=color]
{     
    height: 26px;
    width: 71px;
    margin: 10px; 
    margin-left: 101px; 
}
input[type=range],input[type=file]{
    margin-left: 90px;
}
.footer{
    background: #EAEAEA;
    max-width: 100%;
    height: 180px;
    margin-top: 80px;
}
.parent{
    max-width: 100%;
    height: auto;
}
.icon-1{justify-content: center; gap: 10px;}.icn{background-color: #000000; color: #F3F3F3; padding: 10px; border-radius: 50%; margin-bottom: 50px;}

/* Media Query for 1400px */

@media screen and (max-width: 1400px) {
    .container {
        max-width: 1140px;
   }
   .card-in-1{
    width: 370px;
   }
   .card-in-2{
    width: 370px;
   }
   .card-in-3{
    width: 370px;
   }
   .inner-list-1{
    font-size: 16px;
   }
   .col-3{
    padding: 10px 10px;
   }
   table{
    width: 560px;
   }
}

/* Media qury for 1199px */
@media screen and (max-width: 1199px) {
    .container{
        max-width: 960px;
    }
    .fa-btn {
        z-index: 99;
   }
   
    .navbar, .topnav, .nav-link {
        font-size: 50px;
   }
    .checkbtn1 {
        display: block;
        z-index: 99;
        font-size: larger;
   }
    .topnav {
        position: fixed;
        height: 850px;
        width: 100%;
        background-color: #b6d3f3bb;
        top: 0;
        right: -100%;
        text-align: center;
        transition: top 1s,bottom 1s;
        z-index: 99;
   }
    .navbar, .topnav, .link {
        display: block;
        margin: 0 auto;
        color: #292929;
        z-index: 9;
        cursor: pointer;
   }
    .n1 {
        margin-top: 100px;
   }
    .link {
        padding: 20px;
   }
    .fa.fa-bars {
        font-size: 31px;
        padding: 18px;
   }
    .navbar .topnav, .link {
        font-size: 20px;
        color: #292929;
   }
    .navbar, .link {
        border-bottom: 1px solid #faf5e4;
        transition: .3s;
   }
    #check1:checked~.topnav {
        right: 0;
   }
   .content p{
    font-size: 18px;
    line-height: 30px;
   }
   .card-in-1{
    width: 290px;
    height: 300px;
   }
   .card-in-2{
    width: 290px;
    height: 300px;
   }
   .card-in-3{
    width: 290px;
    height: 300px;
   }
   .inner-list-1{
    font-size: 14px;
    line-height: 20px;
   }
   table{
    width: 470px;
   }
   .para{
    font-size: 18px;
    line-height: 30px;
    padding: 10px;
   }
   video{
    width: 830px;
   }
   .inside-form{
    margin-left: 17px;
   }
}
@media screen and (max-width: 991px) {
    .container {
        max-width: 720px;
   }
    .content p {
        font-size: 12px;
        line-height: 18px;
        text-align: left;
    }
    .content h2{
        font-size: 34px;
    }
    .img-banner{
        width: 380px;
        height: 280px;
    }
    .img-head{
        margin-left: 0px;
    }
    .flex-1{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    .col-3{
        width: calc(100%/1);
    }
    .card-in-1{
        width: 100%;
        height: 250px;
    }
    .card-in-2{
        width: 100%;
        height: 250px;
    }
    .card-in-3{
        width: 100%;
        height: 250px;
    }
    .col-2{
        width: 100%;
    }
    table{
        width: 350px;
    }
    video{
        width: 630px;
    }
    .form-grp-2{
        margin-left: 0px;
    }
}
@media screen and (max-width: 767px) {
    .container {
        max-width: 100%;
   }    
    .form-grp-1-1{
        margin-right: 0px;
        margin-left: 86px;
    }
    .form-grp-1-1-1{
        margin-right: 84px;
    }
    .form-grp-1-1-1-1{
        margin-right: 30px;
    }
}
@media screen and (max-width: 575px) {
    .background{
        height: 37vh;
    }
    video {
        width: 350px;
        height: 215px;
    }
    .main-nav {
        width: 100%;
    }
    .flex{
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        align-items: center;
    }
    table {
        width: 555px;
    }
    .img-banner {
        width: 100%;
    }
    .parent {
        max-width: 67%;
    }
    .text-email{
        width: 95%;
    }
    .frame{
        width: 90%;
    
    }
    .inside-form{
        margin-left: 0px;
    }
    .form-grp-1{
        margin-left: 0px;
    }
    .form-grp-1-1{
        margin-left: 0px;
    }
    .frm-main{
        border-radius: 0%;
    }
    
}
@media screen and (max-width:320px) {
    .w-50 {
        width: 100%;
    }
    .main-heading-2{
        font-size: 26px;
    }
    .heading{
        font-size: 26px;
    }
    .para{
        font-size: 15px;
    }
    .content h2 {
        font-size: 23px;
    }
    .inside-heading-card{
        font-size: 25px;
    }
    .frame {
        width: 101%;
    }
    .parent {
        max-width: 95%;
    }
    .frm-main{
        border-radius: 0%;
    }
    .label-form{
        font-size: 12px;
    }
    .text{
        width: 190px;
    }
    .email-label {
        margin-left: 0px;
    }
    .text-email{
        width: 190px;
        margin-left: 0px;
    }
    .inside-form {
        margin-left: 31px;
    }
    .background{
        height: 25vh;
    }
    video {
        width: 250px;
        height: 163px;
    }
    table{
        width: 25px;
    }
    tr{
        font-size: 16px;
    }
    .main-nav {
        width: 100%;
    }
    .logo{
        width: 102px;
        height: 44px;
    }
    .content p {
        font-size: 9px;
        line-height: 13px;
    }
    .inner-list-1 {
        font-size: 13px;
        line-height: 18px;
    }
    .inside-para-card{
        font-size: 11px;
    }
    .btn-sub{
        width: 90px;
        height: 42px;
        font-size: 13px;
    }
    .btn-reset{
        width: 90px;
        height: 42px;
        font-size: 13px;
    }
    input[type=file] {
        margin-left: 10px;
    }
    input[type=range] {
        margin-left: 10px;
    }
    input[type=color] {
        margin-left: 10px;
    }
    
}